{{template "header" .}}
{{template "panelhead" "Latest account items awarded to players"}}

{{if .AccountItems}}
<ul class="block-list">
    {{range .AccountItems}}
    <li>
        <div>
            <span class="time">{{.Timestamp | pretty_time}}</span>
            <span class="text">{{.CKey}}</span>
            <span class="text">{{.Item}}</span>
        </div>
    </li>
    {{end}}
</ul>
{{else}}
<p class="error center">Sorry, can't find any account items!</p>
{{end}}

{{template "panelfoot"}}
{{template "footer"}}
