{{template "header" .}}
{{template "panelhead" "Latest bans"}}

<form class="search-form" action="" method="GET">
    <input type="search" name="ckey" maxlength="100" placeholder="Player ckey">
    <input type="submit" value="Search">
</form>

{{if .Bans}}
<ul class="block-list">
    {{range .Bans}}
    <li>
        <div>
            <span class="text">{{.CKey}}</span>
            <span class="ban">{{.Ban}} ban</span>
            <span class="time">{{.Expires}}</span>
            <span class="long">
                <span class="bold">{{.Admin}}</span> {{.Timestamp | pretty_time}}:<br />
                {{.Message}}</span>
        </div>
    </li>
    {{end}}
</ul>
{{else}}
<p class="error center">Sorry, can't find any bans!</p>
{{end}}

{{template "panelfoot"}}
{{template "footer"}}
