{{template "header" .}}
{{template "panelhead" "Latest bans"}}

{{if .Bans}}
<ul class="block-list">
    {{range .Bans}}
    <li>
        <div>
            <span class="text">{{.CKey}}</span>
            <span class="ban">{{.BanType}}</span>
            <span class="time">{{.Expires}}</span>
            <span class="text">{{.Admin}}</span>
            <span class="long">{{.Reason}}</span>
        </div>
    </li>
    {{end}}
</ul>
{{else}}
<p class="error center">Sorry, can't find any bans!</p>
{{end}}

{{template "panelfoot"}}
{{template "footer"}}
