{{template "header" .}}
{{template "panelhead" "About"}}
<p class="about">
    Welcome to Apollo Stats!
    <br />
    This site serves various game statistics related
    to the Apollo Community SS13 server.
    <br />
    <br />
    Please note that this is an <span class="underline">alpha release</span> of the site.
    <br />
    Found a bug? Or do you have a suggestion?
    <br />
    Head to our <a href="https://github.com/Apollo-Community/ApolloStats">Github Page</a>
    and send in your new pull request or make a new issue.
</p>
{{template "panelfoot"}}

{{template "panelhead" "Latest Round"}}
{{if .Round.ID | lt 0}}
<div class="round-header">
    <div class="center">
        <a href="/round/{{.Round.ID}}">
        <span>Round #{{.Round.ID}}</span>
        <span><span class="smalldetail">Game mode</span> {{.Round.GameMode}}</span>
        <span><span class="smalldetail">Ended at</span> {{.Round.EndTime | pretty_time}}</span>
        <span><span class="smalldetail">Duration</span> {{.Round.Duration}} minutes</span>
        </a>
    </div>
</div>
{{else}}
<p class="error center">Sorry, can't find any rounds!</p>
{{end}}
{{template "panelfoot"}}

{{template "panelhead" "Global Stats"}}
<div class="stats">
    <div class="bg">
        <div class="left">
            <ul>
                <li><span>Total account items:</span> {{.Stats.TotalAccountItems}}</li>
                <li><span>Total bans:</span> {{.Stats.TotalBans | commas}}</li>
                <li><span>Average bans per day:</span> {{.Stats.AvgBans | printf "%.1f"}}</li>
                <li><span>Total rounds:</span> {{.Stats.TotalRounds}}</li>
                <li><span>Total structural damages:</span> ${{.Stats.TotalDamages | commas}}</li>
            </ul>
        </div>
        <div class="right">
            <ul>
                <li><span>Total dead monkeys:</span> {{.Stats.TotalMonkeys | commas}}</li>
                <li><span>Total dead players:</span> {{.Stats.TotalDeaths | commas}}</li>
                <li><span>Average deaths per round:</span> {{.Stats.AvgDeaths | printf "%.1f"}}</li>
                <li><span>Total game time:</span> {{.Stats.TotalRoundDuration | printf "%.1f"}} hours</li>
                <li><span>Average round duration:</span> {{.Stats.AvgRoundDuration | printf "%.1f"}} minutes</li>
            </ul>
        </div>
    </div>
</div>
{{template "panelfoot"}}
{{template "footer"}}
