{{template "header" .}}
{{template "panelhead" "Latest rounds"}}

{{if .Rounds}}
<ul class="block-list">
    {{range .Rounds}}
    <li>
        <div>
        <a href="/round/{{.ID}}">
            <span class="id">#{{.ID}}</span>
            <span class="text">{{.GameMode}}</span>
            <span class="time">{{.Duration}} minutes</span>
            <span class="time">{{.EndTime | pretty_time}}</span>
        </a>
        </div>
    </li>
    {{end}}
</ul>
{{else}}
<p class="error center">Sorry, can't find any rounds!</p>
{{end}}

{{template "panelfoot"}}
{{template "footer"}}
