{{template "header" .}}
{{template "panelhead" "Round stats"}}

{{if .Round.ID | lt 0}}
<div class="round-header">
    <div class="center">
        <span>Round #{{.Round.ID}}</span>
        <span><span class="smalldetail">Game mode</span> {{.Round.GameMode}}</span>
        <span><span class="smalldetail">Duration</span> {{.Round.Duration}} minutes</span>
        <span><span class="smalldetail">Ended at</span> {{.Round.EndTime | pretty_time}}</span>
    </div>
</div>

{{if .AILaws}}
<h1>Uploaded AI Laws</h1>
<ul class="block-list">
    {{range .AILaws}}
    <li>
        {{.Law}}
    </li>
    {{end}}
</ul>
{{end}}

{{if .Antags}}
<h1>Antagonists</h1>
<ul class="block-list">
        {{range .Antags}}
        <li>
            <div>
                <span class="text">{{.Name}}</span>
                <span class="text">the {{.Job | default_job}}</span>
                <span class="smalldetail">was a</span>
                {{if .Success}}
                <span class="success">successful</span>
                {{else}}
                <span class="failed">miserable</span>
                {{end}}
                <span class="text">{{.Role | default_job}}</span>
            </div>
        </li>
        {{end}}
    </ul>
{{end}}

{{if .Deaths}}
<h1>Crew Deaths</h1>
<ul class="block-list">
        {{range .Deaths}}
        <li>
            <div>
                <span class="text">{{.Name}}</span>
                <span class="text">the {{.Job | default_job}}</span>
                <span class="smalldetail">died in</span>
                <span class="text">{{.RoomName}}</span>
                <span class="smalldetail">({{.Position}})</span>
                <span class="smalldetail">with</span>
                <span class="brute">{{.Brute}}</span>
                <span class="brain">{{.Brain}}</span>
                <span class="fire">{{.Fire}}</span>
                <span class="oxygen">{{.Oxygen}}</span>
            </div>
        </li>
        {{end}}
    </ul>
{{end}}

<h1>Statistics</h1>
<div class="stats">
    <div class="bg">
    <div class="left">
        <ul>
            <li><span>Crew productivity:</span> {{.Round.Productivity}}%</li>
            <li><span>Structual damages:</span> ${{.Round.DamageCost | commas}}</li>
            <li><span>Total deaths:</span> {{.Round.Deaths}}</li>
            <li><span>Crew reconstituted:</span> {{.Round.Clones}} clones</li>
            <li><span>Chemicals vended:</span> {{.Round.DispenseVolume}}L</li>
            <li><span>Bombs exploded:</span> {{.Round.BombsExploded}}</li>
            <li><span>Items vended:</span> {{.Round.Vended}}</li>
            <li><span>Crew ran:</span> {{.Round.RunDistance}} marathons</li>
            <li><span>Total blood mopped:</span> {{.Round.BloodMopped}}L</li>
            <li><span>Time spent on break:</span> {{.Round.BreakTime}} minutes</li>
            <li><span>Monkeys slain:</span> {{.Round.MonkeyDeaths}}</li>
            <li><span>Spam blocked:</span> {{.Round.SpamBlocked}} messages</li>
        </ul>
    </div>

    <div class="right">
        <ul>
            <li><span>Wet signs ignored:</span> {{.Round.PeopleSlipped}}</li>
            <li><span>Waiting for doors:</span> {{.Round.DoorsOpened | commas}} seconds</li>
            <li><span>Total "warning" shots:</span> {{.Round.GunsFired}}</li>
            <li><span>Justice served:</span> {{.Round.BeepskyBeatings}} beatings</li>
            <li><span>Doors "locked":</span> {{.Round.DoorsWelded}}</li>
            <li><span>Power produced:</span> {{.Round.Totalkwh}}kWh</li>
            <li><span>Artifacts:</span> {{.Round.Artifacts}}</li>
            <li><span>Cargo profit:</span> ${{.Round.CargoProfit | commas}}</li>
            <li><span>Space trash created:</span> {{.Round.TrashVented}}</li>
            <li><span>People watched:</span> {{.Round.AIFollow}}</li>
            <li><span>People fired:</span> {{.Round.Banned}}</li>
        </ul>
    </div>
    </div>
</div>
{{else}}
<p class="error center">Sorry, can't find this round!</p>
{{end}}

{{template "panelfoot"}}
{{template "footer"}}
