
/* Default layout  ************************************************************/
html, body {
    color: #AAA;
    background-color: #1C232E;
}

.about {
    text-align: center;
    max-width: 500px;
    margin: 10px auto;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.leftside {
    float: left;
}

ul.rightside {
    float: right;
}

li.tab {
    float: left;
}

#page-body .navbar {
    margin-bottom: 10px;
    height: 33px;
    background-color: #252B33;
}

.navbar .nav-tabs .nav-link {
    height: 33px;
    line-height: 33px;
    padding: 0px 12px;
    font-size: 12px;
    display: inline-block;
    color: inherit;
}

.navbar .nav-tabs .tab:hover {
    color: #FFF;
    background-color: #C35824;
}

.forabg {
    background-color: #252B33;
    clear: both;
    padding: 4px;
    margin-bottom: 4px;
}

li.header {
    background: #2C415F;
    padding: 5px;
    font-size: 15px;
    color: #F1F6FC;
}

li.tab {
    color: #6593D6;
}

a, a:hover, a:visited {
    color: #6593D6;
    text-decoration: none;
}

a:hover {
    color: #C35824;
}

.error {
    color: red;
}

/* Tables *********************************************************************/
tr.borders {
    border-top: 1px solid #2E353F;
    border-bottom: 1px solid #181C21;
}

td.padded {
    padding: 5px 10px;
}

td.min-width {
    min-width: 130px;
}

/* Round Details **************************************************************/
.round-header {
    margin-top: 10px;
    padding: 25px 50px;
    font-size: 1.4em;
    background-color: black;
    overflow: hidden;
}

.round-header span {
    display: inline-block;
    width: 250px;
}

.round-header .smalldetail {
    font-size: 0.6em;
    display: inline;
}

.round-header a, .round-header a:hover {
    text-decoration: none;
}

.block-list {
    margin: 0px;
    margin-top: 5px;
    list-style-type: none;
    font-size: 1.2em;
}
.block-list li{
    padding: 5px 50px;
    margin-bottom: 5px;
    background-color: black;
    overflow: hidden;
}

.block-list div {
    text-align: center;
}

.block-list span {
    display: inline-block;
}

.block-list a, .block-list a:hover {
    text-decoration: none;
}

.block-list .id {
    width: 50px;
}

.block-list .ban {
    width: 125px;
}

.block-list .time {
    width: 135px;
}

.block-list .text {
    width: 200px;
}

.block-list .long {
    width: 400px;
    text-align: left;
    vertical-align: middle;
}

.block-list .smalldetail {
    width: 70px;
    font-size: 0.7em;
}

.block-list .success {
    width: 70px;
    color: green;
}

.block-list .failed {
    width: 70px;
    color: red;
}

.block-list .brute {
    width: 30px;
    color: yellow;
}

.block-list .brain {
    width: 30px;
    color: green;
}

.block-list .fire {
    width: 30px;
    color: red;
}

.block-list .oxygen {
    width: 30px;
    color: blue;
}

.stats {
    background-color: black;
    overflow: hidden;
    padding: 5px;
}

.stats .bg {
    width: 50%;
    margin: 0 auto;
}

.stats ul {
    list-style-type: none;
    font-size: 1.2em;
    margin: 0px;
}

.stats span {
    display: inline-block;
    width: 160px;
}

/* Utils **********************************************************************/
.right {
    float: right;
}

.left {
    float: left;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

