{{define "header"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/apollo.css" rel="stylesheet">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <title>
           {{.pagetitle}} | Apollo Community Stats
        </title>
    </head>

    <body>
        <div id="page-header" class="page-width">
        <a id="logo" class="logo" href="/" title="Stats Index">
            <!--TODO: use a local copy of the logo instead.-->
            <img src="https://apollo-community.org/styles/digi/theme/images/logo.png" data-src-hd="https://apollo-community.org/styles/digi/theme/images/logo_hd.png" />
        </a>
        </div>

        <div id="wrap" class="page-width">
        <div id="page-body">
        <div class="navbar tabbed">
            <div class="nav-tabs">
                <ul class="leftside">
                    <li class="tab"><a class="nav-link" href="/">Apollo Stats</a></li>
                    <li class="tab"><a class="nav-link" href="https://apollo-community.org/">Forums</a></li>
                    <li class="tab"><a class="nav-link" href="http://wiki.apollo-community.org">Wiki</a></li>
                </ul>
                <ul class="rightside">
                    <li class="tab"><a class="nav-link" href="/bans">Bans</a></li>
                    <li class="tab"><a class="nav-link" href="/account_items">Account Items</a></li>
                    <li class="tab"><a class="nav-link" href="/rounds">Rounds</a></li>
                </ul>
            </div>
        </div>
{{end}}

{{define "panelhead"}}
        <div class="forabg category-3 elegant">
            <ul class="topiclist">
                <li class="header">
                    {{.}}
                </li>
            </ul>
            <div class="topiclist forum">
{{end}}

{{define "panelfoot"}}
            </div>
        </div>
{{end}}

{{define "footer"}}
        <div class="copyright">
            <p>
                <span class="left">
                    Copyright &#169; {{year}}
                    The Apollo Community
                </span>

                <span class="right">
                    Source code at
                    <a href="https://github.com/Apollo-Community/ApolloStats">Github</a>,
                    Style by <a href="http://www.artodia.com/">Arty</a>.
                </span>
            </p>
        </div>
        </div></div>
    </body>
</html>
{{end}}
