{{template "header" .}}
{{template "panelhead" "Latest player deaths"}}
<table>
    <tr>
        <th>Time</th>
        <th>Name</th>
        <th>(Job)</th>
        <th>Room</th>
        <th>(Position)</th>
        <th>Damage</th>
    </tr>
    {{ range .Deaths}}
    <tr class="borders">
        <td class="padded min-width">At {{.Timestamp | pretty_time}}</td>
        <td class="padded">{{.Name}}</td>
        <td class="padded">The {{.Job}}</td>
        <td class="padded">Died in {{.RoomName}}</td>
        <td class="padded">{{.Position}}</td>
        <td class="padded">With {{.Brute}}, {{.Brain}}, {{.Fire}}, {{.Oxygen}}</td>
    </tr>
    {{end}}
</table>
{{template "panelfoot"}}
{{template "footer"}}
