{{template "header" .}}
{{template "panelhead" "Stats for game modes"}}

{{if .GameModes}}
<ul class="block-list">
    <li>
        <div>
            <span class="game-mode">Game Mode</span>
            <span class="game-mode">Rounds</span>
            <span class="game-mode">Avg. Duration</span>
            <span class="game-mode">Avg. Productivity</span>
            <span class="game-mode">Avg. Deaths</span>
        </div>
    </li>
    {{range .GameModes}}
    <li>
        <div>
            <span class="game-mode">{{.Title}}</span>
            <span class="game-mode">{{.TotalRounds}} ({{.AvgRounds | round}}%)</span>
            <span class="game-mode">{{.AvgDuration | round}} minutes</span>
            <span class="game-mode">{{.AvgProductivity | round}}%</span>
            <span class="game-mode">{{.AvgDeaths | round}}</span>
        </div>
    </li>
    {{end}}
</ul>
{{else}}
<p class="error center">Sorry, can't find any game modes!</p>
{{end}}

{{template "panelfoot"}}
{{template "footer"}}
