{{template "header" .}}
{{template "panelhead" "Round stats"}}

<ul class="">
    <li>Round #{{.Round.ID}}</li>
    <li>Gamemode: {{.Round.Gamemode}}</li>
    <li>Round ended at: {{.Round.Endtime | pretty_time}}</li>
    <li>Duration: {{.Round.Duration}} minutes</li>
</ul>

{{if .Round.AntagList}}
Antagonists:
<ul>
    {{range .Round.AntagList}}
    <li>{{.}}</li>
    {{end}}
</ul>
{{end}}

{{if .Round.AILawList}}
Uploaded AI Laws:
<ul>
    {{range .Round.AILawList}}
    <li>{{.}}</li>
    {{end}}
</ul>
{{end}}

<div style="width: 50%; margin: auto;">
    <div class="left">
        <ul class="">
            <li>Crew Productivity: {{.Round.Productivity}}%</li>
            <li>Structual damages: ${{.Round.DamageCost}}</li>
            <li>Deaths: {{.Round.Deaths}}</li>
            <li>Crew reconstituted: {{.Round.Clones}} clones</li>
            <li>Chemicals vended: {{.Round.DispenseVolume}}L</li>
            <li>Bombs exploded: {{.Round.BombsExploded}}</li>
            <li>Items vended: {{.Round.Vended}}</li>
            <li>Crew ran: {{.Round.RunDistance}} marathons</li>
            <li>Total blood mopped: {{.Round.BloodMopped}}L</li>
            <li>Break time: {{.Round.BreakTime}}</li>
            <li>Monkeys slain: {{.Round.MonkeyDeaths}}</li>
        </ul>
    </div>

    <div class="right">
        <ul class="">
            <li>Spam blocked: {{.Round.SpamBlocked}} messages</li>
            <li>Wet signs ignored: {{.Round.PeopleSlipped}}</li>
            <li>Waiting for doors: {{.Round.DoorsOpened}} seconds</li>
            <li>Total "warning" shots: {{.Round.GunsFired}}</li>
            <li>Justice served: {{.Round.BeepskyBeatings}} beatings</li>
            <li>Doors "locked": {{.Round.DoorsWelded}}</li>
            <li>Power produced: {{.Round.Totalkwh}}kWh</li>
            <li>Artifacts: {{.Round.Artifacts}}</li>
            <li>Cargo profit: ${{.Round.CargoProfit}}</li>
            <li>Space trash created: {{.Round.TrashVented}}</li>
            <li>People watched: {{.Round.AIFollow}}</li>
        </ul>
    </div>
</div>

{{template "panelfoot"}}
{{template "footer"}}
